# Vagrant
.vagrant/

# Obsidian
.obsidian/workspace.json

# Claves privadas
private_key

# Máquinas virtuales
*.qcow2
*.vdi
*.vmdk
*.img
*.iso
*.box

# Logs
*.log

# Caché
.cache/

# Python
__pycache__/

# Backups
Labs_backup/
