Port 22
Protocol 2
ListenAddress 0.0.0.0

# Host Keys
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Authentication
PasswordAuthentication yes
PermitRootLogin yes
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PermitEmptyPasswords no

# Security
LoginGraceTime 120
StrictModes no
MaxAuthTries 6
MaxSessions 20

# Features
UsePAM yes
X11Forwarding yes
PrintMotd yes
TCPKeepAlive yes
UseDNS no

# Subsystem
Subsystem sftp /usr/libexec/openssh/sftp-server