all:
  vars:
    ansible_user: ansible
    ansible_ssh_private_key_file: /workspace/.ssh/id_systech_control
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'

  children:
    lb_nodes:
      hosts:
%{ for name, lxc in lxcs ~}
        ${name}:
          ansible_host: ${split("/", lxc.initialization[0].ip_config[0].ipv4[0].address)[0]}
%{ endfor ~}

    ha_nodes:
      hosts:
%{ for name, vm in vms ~}
        ${name}:
          ansible_host: ${split("/", vm.initialization[0].ip_config[0].ipv4[0].address)[0]}
%{ endfor ~}
