---
all:
  children:
    app_nodes:
      hosts:
%{ for k, node in vms ~}
%{ if k != "storage01" && k != "db01" ~}
        ${node.name}:
          ansible_host: ${split("/", node.ip)[0]}
%{ endif ~}
%{ endfor ~}

    db_nodes:
      hosts:
%{ for k, node in vms ~}
%{ if k == "db01" ~}
        ${node.name}:
          ansible_host: ${split("/", node.ip)[0]}
%{ endif ~}
%{ endfor ~}

    storage_nodes:
      hosts:
%{ for k, node in vms ~}
%{ if k == "storage01" ~}
        ${node.name}:
          ansible_host: ${split("/", node.ip)[0]}
%{ endif ~}
%{ endfor ~}

    lb_nodes:
      hosts:
%{ for k, node in lxcs ~}
%{ if k != "client" ~}
        ${node.name}:
          ansible_host: ${split("/", node.ip)[0]}
%{ endif ~}
%{ endfor ~}

    client_nodes:
      hosts:
%{ for k, node in lxcs ~}
%{ if k == "client" ~}
        ${node.name}:
          ansible_host: ${split("/", node.ip)[0]}
%{ endif ~}
%{ endfor ~}

  vars:
    ansible_user: ansible
    ansible_ssh_private_key_file: ~/.ssh/id_systech_control
    ansible_python_interpreter: /usr/bin/python3
