[defaults]
inventory = inventory.ini
private_key_file = ~/.ssh/id_lxd_fleet
interpreter_python = auto_silent
host_key_checking = False
display_skipped_hosts = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
