[defaults]
inventory           = ./inventories/production/hosts.yml
roles_path          = ./roles/
host_key_checking   = false
stdout_callback     = yaml
callbacks_enabled   = timer, profile_tasks
interpreter_python  = auto_silent

[ssh_connection]
pipelining          = true
ssh_args            = -C -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
become              = true
become_method       = sudo
become_user         = root
become_ask_pass     = False



