# Resolución interna de la infraestructura SYSTECH
10.10.10.21   lb01.lab.systech.local   lb01
10.10.10.22   lb02.lab.systech.local   lb02
10.10.10.31   app01.lab.systech.local  app01
10.10.10.32   app02.lab.systech.local  app02
10.10.10.33   app03.lab.systech.local  app03
10.10.10.40   db01.lab.systech.local   db01
10.10.10.50   storage01.lab.systech.local storage01
10.10.10.90   zabbix01.lab.systech.local zabbix01
