[defaults]
inventory = inventory.yml
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 600

[ssh_connection]
pipelining = True
scp_if_ssh = True